<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cc.xiaowei.url_convert.mapper.ConvertedMapper">

    <insert id="insert_">
        insert into `converted-url` (id, original, domain)
            VALUE (#{converted.id},#{converted.original},#{converted.domain})
    </insert>

    <select id="select_">
        select * from `converted-url` where id = #{id};
    </select>

    <delete id="delete_">
        delete from `converted-url` where id = #{id};
    </delete>

</mapper>